*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(164, 190, 228);
}

.app{
    background: rgb(238, 240, 248);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 40px;
    color: rgb(20, 49, 86);
    border-bottom: 2px solid;
    padding-bottom: 15px;
}

.quiz{
    padding: 15px 0;
}

.quiz h2{
    font-size: 17px;
    color: rgb(17, 24, 80);
    padding-bottom: 15px;
}

.btn{
    background-color: white;
    color: rgb(11, 11, 28);
    font-weight: 400;
    width: 100%;
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover:not(:disabled){
    background: rgb(125, 125, 125);
    color: azure;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background:rgb(88, 88, 144);
    color: white;
    font-weight: 400;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.correct{
    background: rgb(190, 246, 189);
}

.incorrect{
    background: rgb(238, 186, 186);
}